
-form_for @interests, :url => interests_path do |f|
  %div
  %div.two-column
    %div.column.left
      %div
        = f.check_box(:BikeRepair, :class => 'checkbox')
        %label.choice{:for => 'interests_BikeRepair'} Bicycle repair & shop staffing assistance
      %div
        = f.check_box(:DataEntry, :class => 'checkbox')
        %label.choice{:for => 'interests_DataEntry'} Data entry
      %div
        = f.check_box(:Sales, :class => 'checkbox')
        %label.choice{:for => 'interests_Sales'} Sales/Greeting guests
      %div
        = f.check_box(:Publicity, :class => 'checkbox')
        %label.choice{:for => 'interests_Publicity'} Publicity activities
      %div
        = f.check_box(:Teaching, :class => 'checkbox')
        %label.choice{:for => 'interests_Teaching'} Teaching
      %div
        = f.check_box(:Office, :class => 'checkbox')
        %label.choice{:for => 'interests_Office'} Office tasks (filing, sales tax computation, etc.)
      %div
        = f.check_box(:Carpentry, :class => 'checkbox')
        %label.choice{:for => 'interests_Carpentry'} Carpentry
      %div
        = f.check_box(:Sewing, :class => 'checkbox')
        %label.choice{:for => 'interests_Sewing'} Sewing skills for shop aprons
      %div
        = f.check_box(:Vehicle, :class => 'checkbox')
        %label.choice{:for => 'interests_Vehicle'} Have a vehicle and/or trailer to lend for bike pickups/scrap days
      %div
        = f.check_box(:Grant, :class => 'checkbox')
        %label.choice{:for => 'interests_Grant'} Grant Writing/Grant finding/Fundraising
    %div.column.right
      %div
        = f.check_box(:Accounting, :class => 'checkbox')
        %label.choice{:for => 'interests_Accounting'} Accounting
      %div
        = f.check_box(:Cleaning, :class => 'checkbox')
        %label.choice{:for => 'interests_Cleaning'} Cleaning & organizing (laundering rags, sweeping, putting away and sorting parts, etc.)
      %div
        = f.check_box(:EventPlanning, :class => 'checkbox')
        %label.choice{:for => 'interests_EventPlanning'} Event planning/Promotion
      %div
        = f.check_box(:WorkingWithChildren, :class => 'checkbox')
        %label.choice{:for => 'interests_WorkingWithChildren'} Working with children
      %div
        = f.check_box(:Website, :class => 'checkbox')
        %label.choice{:for => 'interests_Website'} Website/Computer/IT
      %div
        = f.check_box(:Photography, :class => 'checkbox')
        %label.choice{:for => 'interests_Photography'} Photography/Videography/Artistic design
      %div
        = f.check_box(:Electrician, :class => 'checkbox')
        %label.choice{:for => 'interests_Electrician'} Electrician
      %div
        = f.check_box(:Legal, :class => 'checkbox')
        %label.choice{:for => 'interests_Legal'} Legal work
      %div
        = f.check_box(:Newsletter, :class => 'checkbox')
        %label.choice{:for => 'interests_Newsletter'} Newsletter article writing/ Compiling relevant links
      %div
        = f.check_box(:Whatever, :class => 'checkbox')
        %label.choice{:for => 'interests_Whatever'} Will do whatever task assigned

  %li
    =f.submit "Update"
